@charset "UTF-8";

header {
  background: #BBBBBB;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78C19;
  text-decoration: underline;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  /* background: #CCCCCC; */
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  /* border-top-width: 10px; */
  /* border-color: #000000;
  border-width: 2px;
  border-style: solid; */
  border: 2px solid #000000; /*É a mesma coisa que os e de cima*/
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78C19;
}

.produtos li:active { /*Pressionar mouse no elemento*/ 
  border-color: #088C19;
}

.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 22px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  /* margin: 10px 0 0; */ 
  margin-top: 10px; /*Mesma coisa que o de cima*/
}

footer {
  text-align: center;
  /* background: #CCCCCC; */
  /* background: url("img/bg.jpg"); */
  background: url(../img/bg.jpg);
  padding: 40px 0;
}

/* footer p { */
.copyright {
  /* color: #FFFFFF; */
  /* opacity: 0.5; */
  /* color: gray; */
  color: #FFFFFF;
  font-size: 13px;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

/* form label, form p { */
form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

/* form input, form textarea { */
.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.botao-enviar {
  width: 40%;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: orange;  
  border: none;
  border-radius: 5px; 
  /* transition: 0.5s background; */
  transition: 0.5s all;
  cursor: pointer;
}

.botao-enviar:hover {
  /* background: darkorange; */
  background: #FFFFFF;
  border: 1px solid orange;
  color: orange;
  /* transform: rotate(30deg); */
  transform: scale(1.2);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/* CSS - Página Principal*/
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em; /*em = X "do dobro" do tamanho básico*/
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.imagembeneficios {
  width: 60%;
}