/*Importando fonts do Google Fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


/* Variáveis Globais CSS */
:root {
    /* --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727; */
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

    /* Tratamento utilizando REM para Font-Size */
    /* Valor base 1 REM = 16 pixels*/
    /* font-size: calc((var(--base) / 16) * 100%); */
    --r36: calc((36 / var(--base) * 1rem));
    --r32: calc((32 / var(--base) * 1rem));
    --r30: calc((30 / var(--base) * 1rem));
    --r24: calc((24 / var(--base) * 1rem));
    --r16: calc((16 / var(--base) * 1rem));
    --base: 16;
}

/*Aplicar a todos os conteúdos (Reset)*/
* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/ /*100% do name="viewport"*/
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu>a {
    /* color: #000000; */
    font-family: var(--fonte-primaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
}

/* strong > span {
    color: #22D4FD;
} */

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex; /* coloca os quadrados lado a lado */
    align-items: center;
    justify-content: space-between;
    /* margin: 10%; */
    /*margin: 10% 15%;*/ /* adiciona uma margem para centralizar os quadrados na tela*/
    /* padding: 8% 15%; */
    padding: 5% 15%;
}

.apresentacao-conteudo {
    /* width: 615px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /* adiciona espaços iguais entre cada quadrado */
}

.apresentacao-conteudo-titulo {
    /* font-size: 36px; */
    font-size: var(--r36);
    font-family: var(--fonte-primaria);
}

.apresentacao-conteudo-paragrafo {
    /* font-size: 24px; */
    font-size: var(--r24);
    font-family: var(--fonte-secundaria);
}

.apresentacao-conteudo-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao-conteudo-links-subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao-conteudo-links-ancora {
    display: flex;
    justify-content: center;
    gap: 16px;
    /* background-color: #22D4FD; */
    /* width: 280px; */
    /* width: 378px; */
    width: 50%;
    /* width: 45%; */
    padding: 21.5px 0; /*Vertical/Horizontal*/
    /* border-radius: 16px; */
    border-radius: 8px;
    text-align: center;
    /* font-size: 24px; */
    font-size: var(--r24);
    /* font-size: x-large; */
    font-weight: 600;
    text-decoration: none;
    /* color: var(--cor-primaria); */
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao-conteudo-links-ancora:hover {
    background-color: var(--cor-hover);
    /* font-size: 30px; */
    font-size: var(--r30)
    /* background-color: #E2E2E2; */
    /* border: none; */
    /* color: #22D4FD; */
}

.apresentacao-imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    /* font-size: 24px; */
    font-size: var(--r24);
    font-weight: 400;
}

@media (max-width: 1200px) {
/* @media (min-width: 480px) and (max-width: 800px) { */
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
}