
.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* MENU */

.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-wrap: wrap;
    /* align-content: center; */
}

/* Ocultar itens UL */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__lista li {
    align-self: center;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

.rodape__container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap; /*Este substitui os 2 acima*/
}

/* Para tablet */
@media (min-width: 834px) {

    .cabecalho__pesquisar__item {
        display: block;
    }

    .rodape__container {
        justify-content: space-between;
    }

    .menu__lista {
        flex-wrap: nowrap;
    }
}

/* Para desktop */
/* @media(min-width? 1440px) { */
@media(min-width: 1172px) {

    .menu__container {
        position: absolute;
        overflow: scroll;
        width: 239px;
        height: auto;
        top: 0;
        /* left: 0; */
        /* bottom: 0%; */
        /* width: 100%; */
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
        /* flex-wrap: wrap; */
    }

    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
    }
}