
/*Aplicar a todos os conteúdos (Reset)*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /*100% do name="viewport"*/
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

/* strong > span {
    color: #22D4FD;
} */

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    display: flex;
    align-items: center;
}